@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

/* index */
/* Header */
body a {
  text-decoration: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: -6px;
  padding: 0 70px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  padding: 14px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}

.navigation-link-user {
  display: flex;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.navigation-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: flex-start;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
  margin: 0;
  padding: 0;
  padding-left: 29px;
  list-style: none;
  margin-right: auto;
}

.navigation-item {
  padding: 6px;
}



.navigation-item-user {
  width: 44px;
  padding: 6px 4px;
}

.navigation-user {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 88px;
  height: 64px;
  margin-right: 20px;
}

.page-header-logo {
  width: 140px;
  display: block;
}

.button-here {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  column-gap: 14px;
  max-width: 160px;
}

.nav-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  width: 160px;
  margin: 14px 0;
}

.nav-button:hover {
  background-color: #615048;
}

.nav-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-favorites {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
  z-index: 1;
  display: inline-block;
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
  min-width: 20px;
  margin: 5px 0 27px 16px;
  padding: 5px 0;
  border-radius: 10px;
}

.navigation-link-user-favorites {
  display: grid;

}

/* Main */
.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.main-container-index {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-image: url(../images/decorative-element.svg), url(../images/mountains.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, center;
  padding-bottom: 83px;
  padding-top: 51px;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
  margin-top: 2px;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.caption {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

/* Advantages */

.advantages-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-indention {
  margin: 0 258px 90px 258px;
  padding-top: 69px;
}

.advantages-heading {
  margin: 0;
  margin-bottom: 25px;
}

/* .advantages-caption {
  margin: 0;
} */

.index-column {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.advantages-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.advantages-item-center {
  width: 400px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.advantages-title-first::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  width: 60px;
  height: 2px;
  bottom: -31px;
  left: 38%;
}

.advantages-title-center::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  width: 60px;
  height: 2px;
  bottom: -31px;
  left: 38%;
}

.advantages-title-first {
  margin-right: 3px;
  margin-bottom: 62px;
}

.advantages-title-center {
  margin-bottom: 62px;
}

.advantages-first {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-second {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-third {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-picture {
  width: 800px;
  height: 385px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-description-text {
  color: #333333;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 5px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Services */

.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services-item {
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  box-sizing: border-box;
  margin: 0;
}


.services-first {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.services-title-home {
  margin: 25px 0;
}

.services-title-food {
  margin: 27px 0;
}

.services-title-gift {
  margin: 21px 0;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 30px;
}

.button-search {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.services-indention {
  padding: 64px 347.5px;
}

.services-heading {
  margin: 0;
  margin-bottom: 20px;
}

.services-caption {
  margin: 0;
}

.interested {
  padding: 96px 304px;
}

.interested-heading {
  margin: 0;
}

.interested-caption {
  margin-top: 20px;
  margin-bottom: 54px;
}

/* newsletter */

.newsletter {
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px 258px;
}

.newsletter-catalog {
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.newsletter-label {
  font-family: "PT Sans", sans-serif;
  flex-grow: 1;
}

.newsletter-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.newsletter-caption {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.button-mail {
  font-size: 18px;
  width: 433px;
  height: 52px;
  padding: 0;
  border: 0;
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.button-subscribe {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
}

.button-used:hover {
  background-color: #68a2ca;
}

.button-used:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-favorites-added:hover {
  background-color: #6c9e42;
}

.button-favorites-added:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

/* catalog */
/* main */

.main-inner {
  background-color: #ffffff;
  color: #000000;
}

.inner-header {
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 70px;
  background-position: center;
  color: #ffffff;
  background-color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
  padding-top: 8px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 11px;
  margin: 0 10px;
  background-image: url(../images/arrow/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumbs-hotel {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 41px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 70px;
  align-items: flex-start;
  padding-top: 23px;
  padding-bottom: 57px;
}


.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group-cost {
  width: 288px;
  height: 160px;
  margin-left: 70px;
}

.filter-cost {
  display: flex;
  column-gap: 2px;
}

.filter-price {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  padding: 13px 20px 11px 0;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-label {
  display: grid;
  line-height: 23;
  width: 141px;
  height: 48px;
  background-color: #ffffff;
}

.price-label-min {
  border-radius: 4px 0 0 4px;
  border: 1px solid #f2f2f2;
}

.price-label-max {
  border-radius: 0 4px 4px 0;
  border: 1px solid #f2f2f2;
}

.filter-price {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  font-size: 18px;
  width: 17px;
  height: 24px;
}


.filter-price-min {
  grid-area: 1 / 1 / 2 / 2;
  width: 84%;
  padding: 14px 0 11px 20px;
  font-weight: 700;
  appearance: textfield;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.filter-price-max {
  grid-area: 1 / 1 / 2 / 2;
  width: 84%;
  padding: 14px 0 11px 20px;
  font-weight: 700;
  appearance: textfield;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.filter-range {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 43px auto 8px;
  background-color: rgba(255, 255, 255, 0.3);
  ;
}

.filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  width: 226px;
}

.range-handle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  padding: 0;
  font: inherit;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-handle-min {
  left: 0;
}

.range-handle-max {
  right: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.hotels-sorting {
  display: flex;
}

.filter-form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 56px;
}

.control {
  line-height: 23px;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
}

.tick,
.circle {
  display: flex;
  align-items: center;
}

.control-input-tick {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  background-color: #ffffff;
  appearance: none;
  border-radius: 4px;
  padding: 5px 4px;
}

.control-input-tick:checked::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/tick.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.control-input-circle {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  background-color: #ffffff;
  appearance: none;
  border-radius: 50%;
}

.control-input-circle:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 50%;
  margin-left: 50%;
  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.catalog-filter-infrastructure,
.catalog-filter-housing {
  min-width: 150px;
}

.catalog-products {
  display: flex;
  padding-top: 17px;
}

.hotels {
  margin: 50px 70px 40px;
  height: 49px;
  width: 1060px;
}

.catalog-top-column {
  display: flex;
  align-items: center;
  width: 1060px;
  height: 49px;
  column-gap: 70px;
}

.catalog-group {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
  height: 48px;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  list-style: none;
}

.button-card {
  background-image: url(../images/sorting/product-card.svg);
  background-position: center;
}

.button-slide {
  background-image: url(../images/sorting/slide-show-product.svg);
  background-position: center;
}

.button-list {
  background-image: url(../images/sorting/product-list.svg);
  background-position: center;
}

.button-togglet {
  border: 2px solid #e5e5e5;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.button-togglet-active {
  border: 2px solid #000000;
}

.button-togglet:active {
  border: 2px solid #000000;
}

.button-togglet:hover {
  border: 2px solid #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.product-list {
  list-style: none;
  display: grid;
  margin: 40px 70px;
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 340px;
  align-items: center;
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card-link {
  display: block;
  grid-column: 2 span;
  width: 300px;
}

.product-card-link-images {
  height: 212px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-apply {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
}

.button-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
}

.found-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  min-width: 292px;
  margin-left: 130px;
  padding: 12px 50px 12px 18px;
  background: url(../images/arrow/arrow-botton.svg) right 18px center / 12px 9px no-repeat;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
}


.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
  margin: 0;
  text-align: end;
}

.button-more {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
}

.button-more:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-more:active {
  background-color: rgba(117, 97, 87, 1);
  colo: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}


.button-favorites-added {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.stars {
  --stars-width: 18px;
  --stars-gap: 6px;
  height: 17px;
  margin: 0;
  background: url(../images/stars.svg) repeat-x left / calc(var(--stars-width) + var(--stars-gap)) 17px;
}

.stars-four {
  width: calc(4 * var(--stars-width) + 3 * var(--stars-gap));
}

.stars-three {
  width: calc(3 * var(--stars-width) + 2 * var(--stars-gap));
}

.stars-two {
  width: calc(2 * var(--stars-width) + var(--stars-gap));
}


.button-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0 70px;
  box-shadow: inset 0 1px #e6e6e6;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  border-radius: 4px;
}

.pagination-further {
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-further:hover {
  border: 1px solid #82B3D3;
  background-color: #68a2ca;
}

.pagination-further:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-current:active {
  background-color: #f2f2f2;
}

.pagination-next {
  color: #000000;
}

/* footer */
.page-footer {
  background-color: #ffffff;
  color: #000000;
  align-items: center;
}

.page-footer-container {
  margin: 0 70px;
  padding-top: 45px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.social {
  width: 142px;
  margin-right: 237px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 47px;
  fill: #83b3d3;
}

.social-link:hover svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.social-item {
  width: 47px;
  height: 40px;
}

.copyright {
  width: 115px;
  margin-left: auto;
}


.contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
}

.contacts-address-phone:hover {
  color: #756157;
}

.contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-logo {
  margin-top: 3px;
}

.academy-link {
  fill: #000000;
}

.academy-link:hover svg {
  fill: #756157;
}

.academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* Modal container */


.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 577px;
  padding: 54px 70px 70px 68px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin-bottom: 59px;
  margin-top: 8px;
  font-size: 30px;
  line-height: 40px;
}

.form-search {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding-left: 2px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.cross-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-search {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding-left: 2px;
}

.label-text {
  padding-top: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.label-text-person {
  margin-right: 56px;
}

.search-date {
  margin-left: auto;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 420px;
  padding: 4px 0 4px 19px;
  background-repeat: no-repeat;
  background-position: right 19px top 18px;
  background-image: url(../images/Vector.svg);
}

.wrong-date {
  color: #ff5757;
}

.response-message {
  width: 420px;
  height: 30px;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.persons-wrapper {
  display: flex;
  width: 288px;
}

.form-search-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 577px;
}

.form-search-label-person {
  width: 247px;
  height: 48px;
  flex-wrap: nowrap;
  margin-right: 88px;
}

.form-search-label-children {
  width: 247px;
height: 48px;
flex-wrap: nowrap;
}

.search-persons {
  position: relative;
  padding: 5px 0;
  width: 110px;
  text-align: center;
  appearance: textfield;
  margin-left: auto;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.minus-spin {
  top: 19px;
  left: 141px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-icon {
  opacity: 0.3;
}

.plus-spin {
  top: 19px;
  right: 21px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.children-wrapper {
  display: flex;
  align-items: center;
}

.children-wrapper > .label-text {
  margin-right: 11px;
  padding-top: 4px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 8px;
  width: 160px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.info-popover {
  position: absolute;
  top: 46px;
  left: -4px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 256px;
}

.decorative-triangle {
  margin-bottom: -1px;
}

.info-content {
  padding: 18px 18px 24px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.search-children {
  position: relative;
  padding: 5px 0;
  width: 110px;
  text-align: center;
  appearance: textfield;
  margin-left: auto;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form-search-button {
  margin-top: 29px;
  padding: 10px 0;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
